* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 body {
	display: flex;
	align-items: center;
	height: 100vh;
 }

.container {
	display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 200px;
    gap: 90px;
    background-color: red;
    padding: 30px;
}

.image {
	cursor: pointer;
}